# Ignore everything in parent directory
../*/
../*.gif
../*.jpg
../*.jpeg
../*.png
../*.pptx
../*.zip
../*.exe
../*.mp3
../*.mp4
../*.mov
../*.pdf
../*.apk
../*.torrent
../.localized
../cryptoAsset
../y99friend*

# Specific directories to ignore
../IBCM*/
../android_release/
../app*/
../keys/
../screenshots/
../uploaddrive/
../usdtflah/
../bhavani/
../prabhasshirts/